In [6]:
#import libraries
import pandas as pd
import numpy as np

In [7]:
#load csv file data with headers

location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [9]:
df.tail()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [10]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [11]:
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [14]:
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [15]:
df.loc

In [16]:
df[['PRICE','BEDRM','BATHRM','AC', 'ROOMS']]

            PRICE  BEDRM  BATHRM AC  ROOMS
0       1095000.0      4       4  Y      8
1             NaN      5       3  Y     11
2       2100000.0      5       3  Y      9
3       1602000.0      5       3  Y      8
4             NaN      3       2  Y     11
5       1950000.0      5       3  Y     10
6             NaN      2       1  Y      5
7       1050000.0      4       3  Y      8
8       1430000.0      3       3  Y      7
9             NaN      2       1  Y      6
10            NaN      5       3  N     12
11            NaN      6       5  Y     16
12            NaN      5       2  N      9
13            NaN      5       2  Y     11
14      1325000.0      3       3  Y      5
15            NaN      4       2  Y      9
16      1240000.0      3       3  Y      8
17            NaN      3       2  N      6
18            NaN      4       3  Y     10
19       592250.0      3       3  Y      9
20        33232.0      5       3  Y     14
21            NaN      3       3  Y     12
22       907400.0      3       1  Y      6
23      1065000.0      3       2  Y      5
24      1100000.0      3       2  Y      8
25        20000.0      4       1  N      8
26            NaN      5       1  N     10
27       703700.0      3       3  Y      9
28            NaN      4       3  Y     10
29      1210000.0      3       3  Y     11
...           ...    ...     ... ..    ...
158927        NaN      3       2  Y      6
158928   632400.0      2       2  Y      5
158929   574000.0      2       2  Y      5
158930   365000.0      2       2  N      4
158931   405000.0      2       2  N      4
158932   505000.0      2       2  N      4
158933   520000.0      2       2  Y      4
158934   499900.0      1       1  Y      3
158935   451000.0      1       1  Y      3
158936   564900.0      1       1  Y      3
158937        NaN      2       1  Y      4
158938   660000.0      4       2  Y      7
158939   380000.0      2       1  Y      4
158940        NaN      4       2  Y      7
158941        NaN      2       1  Y      4
158942        NaN      4       2  Y      7
158943   539000.0      2       2  Y      5
158944   908500.0      2       2  Y      5
158945   450000.0      1       1  Y      3
158946   485355.0      2       1  Y      4
158947   320000.0      2       2  Y      4
158948   460000.0      2       2  Y      4
158949   550000.0      1       1  Y      4
158950   635000.0      3       3  Y      5
158951   389000.0      3       3  Y      5
158952   399900.0      1       1  Y      3
158953   416000.0      2       1  Y      4
158954   600000.0      2       2  Y      4
158955   215100.0      0       1  Y      2
158956        NaN      0       1  Y      2

[158957 rows x 5 columns]

In [17]:
df['PRICE'].value_counts()

350000.0     595
250000.0     536
300000.0     523
450000.0     519
375000.0     488
325000.0     482
550000.0     459
275000.0     455
500000.0     426
320000.0     425
200000.0     422
425000.0     419
600000.0     403
315000.0     402
330000.0     396
650000.0     387
525000.0     387
285000.0     377
225000.0     376
265000.0     374
310000.0     371
475000.0     364
360000.0     364
260000.0     360
280000.0     352
385000.0     352
335000.0     352
220000.0     349
240000.0     348
230000.0     347
            ...
168700.0       1
674755.0       1
5397500.0      1
168670.0       1
674670.0       1
468400.0       1
337325.0       1
1096000.0      1
337562.0       1
1350250.0      1
337575.0       1
117164.0       1
84461.0        1
468890.0       1
84450.0        1
84449.0        1
503850.0       1
337750.0       1
675490.0       1
114620.0       1
466250.0       1
468776.0       1
337700.0       1
234384.0       1
937499.0       1
337650.0       1
675265.0       1
468674.0       1
21100.0        1
648150.0       1
Name: PRICE, Length: 13486, dtype: int64

In [18]:
df.groupby(['PRICE', 'BEDRM','BATHRM']).mean()

                             Unnamed: 0  HF_BATHRM  NUM_UNITS      ROOMS  \
PRICE       BEDRM BATHRM
1.0         1     1       148694.000000   0.000000        NaN   3.000000
            2     2       132821.000000   0.000000        NaN   4.000000
            3     1        81694.000000   1.000000        1.0   7.000000
                  2       152131.000000   0.000000        NaN   6.000000
            6     3       106683.000000   0.000000        3.0  14.000000
10.0        2     1        81594.000000   0.000000        1.0   5.000000
            3     1        51658.000000   0.000000        1.0   6.000000
                  2        46493.500000   0.500000        1.5   8.000000
250.0       2     1       102782.000000   0.000000        1.0   5.000000
                  2        47732.500000   0.000000        1.5   6.750000
            3     1        79561.666667   0.000000        1.0   6.333333
                  3        42069.000000   1.000000        3.0   8.000000
            5     2        48414.000000   0.000000        1.0   8.000000
                  3        31222.000000   0.500000        1.5   9.500000
            6     2        49321.000000   0.000000        1.0   9.000000
                  5        54909.000000   2.000000        2.0  10.000000
500.0       2     2        49470.000000   0.000000        2.0   6.000000
            4     2        60597.000000   1.000000        2.0   8.000000
                  4        54229.000000   0.000000        2.0   8.000000
            7     2         5516.000000   1.000000        2.0  15.000000
936.0       4     2         3330.000000   1.000000        1.0   9.000000
1000.0      0     1       153470.000000   0.000000        NaN   2.000000
            1     1       127110.000000   0.000000        NaN   3.000000
            3     1        79469.000000   0.500000        1.0   6.000000
            4     4       100485.000000   0.000000        4.0  16.000000
1377.0      3     1         4199.000000   1.000000        1.0   6.000000
2000.0      0     1       120238.000000   0.000000        NaN   1.000000
            3     1        96378.000000   0.000000        1.0   8.000000
3000.0      2     2       141464.000000   0.000000        NaN   4.000000
            3     2        87966.000000   1.000000        1.0   9.000000
...                                 ...        ...        ...        ...
10750000.0  7     7        38250.000000   3.000000        1.0  13.000000
11000000.0  0     0         3303.000000   0.000000        1.0   0.000000
            4     4        90981.500000   0.000000        4.0  16.000000
11111111.0  8     8        20936.000000   2.000000        1.0  14.000000
11984000.0  6     6         2149.000000   2.000000        1.0  18.000000
12250000.0  9     12       36674.000000   3.000000        1.0  19.000000
12780000.0  0     1       142033.500000   0.000000        NaN   2.000000
            1     1       141968.066667   0.000000        NaN   3.000000
                  2       141603.000000   0.000000        NaN   3.000000
            2     1       141988.000000   0.000000        NaN   4.000000
14000000.0  6     5        37131.000000   1.000000        1.0  13.000000
14157126.0  2     2       112931.000000   0.000000        NaN   4.000000
            3     2       148308.000000   1.000000        NaN   5.000000
15000000.0  7     11       37118.000000   1.000000        1.0  26.000000
16100000.0  9     9        21880.000000   4.000000        1.0  19.000000
18000000.0  7     9        34527.000000   5.000000        2.0  25.000000
22000000.0  9     6        20685.000000   5.000000        1.0  17.000000
23960287.0  12    7        20164.000000   3.000000        2.0  31.000000
25000000.0  0     0       104206.000000   0.000000        0.0   0.000000
25100000.0  0     4        97155.000000   0.000000        0.0   5.000000
53696391.0  1     1       132028.000000   0.000000        NaN   3.000000
53969391.0  0     1       133869.200000   0.000000        NaN   2.000000
            1     1       133991.151515   0.000000        NaN   3.136364
            2     2       134188.222222   0.000000        NaN   4.055556
            3     2       134011.500000   0.000000        NaN   5.000000
137427545.0 0     1       128148.805556   0.000000        NaN   2.000000
            1     1       128550.905325   0.118343        NaN   3.053254
                  2       128160.857143   0.000000        NaN   3.857143
            2     1       127819.400000   1.000000        NaN   4.000000
                  2       127119.076923   0.000000        NaN   4.153846

                                  AYB  YR_RMDL          EYB  STORIES  \
PRICE       BEDRM BATHRM
1.0         1     1       2007.000000      NaN  2007.000000      NaN
            2     2       1956.000000      NaN  1956.000000      NaN
            3     1       1929.000000   1970.0  1947.000000     2.00
                  2       1920.000000   2000.0  1900.000000      NaN
            6     3       1953.000000   1999.0  1971.000000     3.00
10.0        2     1       1942.000000      NaN  1964.000000     2.00
            3     1       1912.000000      NaN  1954.000000     2.00
                  2       1908.500000   2009.0  1963.000000     2.00
250.0       2     1       1905.000000   2003.0  1954.000000     2.00
                  2       1910.500000   1999.0  1959.000000     2.00
            3     1       1939.000000      NaN  1954.666667     2.00
                  3       1905.000000   2004.0  1967.000000     3.00
            5     2       1908.000000   1988.0  1960.000000     3.00
                  3       1904.500000   2003.0  1960.000000     2.00
            6     2       1910.000000   2001.0  1960.000000     3.00
                  5       1906.000000   2012.0  1975.000000     3.00
500.0       2     2               NaN      NaN  1954.000000     2.00
            4     2       1909.000000      NaN  1960.000000     2.00
                  4       1900.000000   2001.0  1969.000000     3.00
            7     2       1916.000000      NaN  1957.000000     3.00
936.0       4     2       1900.000000   1996.0  1969.000000     2.00
1000.0      0     1       1964.000000   2007.0  1964.000000      NaN
            1     1       1942.000000   1982.0  1942.000000      NaN
            3     1       1918.000000      NaN  1954.000000     2.00
            4     4       1937.000000   2005.0  1954.000000     2.00
1377.0      3     1       1900.000000   2004.0  1960.000000     2.00
2000.0      0     1       1900.000000   2006.0  1919.000000      NaN
            3     1       1928.000000      NaN  1957.000000     2.00
3000.0      2     2       2006.000000      NaN  2006.000000      NaN
            3     2       1993.000000      NaN  2000.000000     1.00
...                               ...      ...          ...      ...
10750000.0  7     7       1927.000000   2011.0  2000.000000     2.75
11000000.0  0     0       1900.000000      NaN  1943.000000     2.00
            4     4       1943.000000   2002.0  1964.000000     2.00
11111111.0  8     8       1941.000000   2013.0  2000.000000     3.00
11984000.0  6     6       1961.000000   2005.0  2004.000000     4.00
12250000.0  9     12      2008.000000      NaN  2016.000000     2.00
12780000.0  0     1       1944.000000      NaN  1944.000000      NaN
            1     1       1944.000000      NaN  1944.000000      NaN
                  2       1944.000000      NaN  1944.000000      NaN
            2     1       1944.000000      NaN  1944.000000      NaN
14000000.0  6     5       1962.000000   1995.0  2003.000000     3.00
14157126.0  2     2       1980.000000   2006.0  1980.000000      NaN
            3     2       1980.000000   2006.0  1980.000000      NaN
15000000.0  7     11      1986.000000   2014.0  2010.000000     2.00
16100000.0  9     9       1805.000000   2013.0  2000.000000     3.00
18000000.0  7     9       1994.000000      NaN  2012.000000     2.50
22000000.0  9     6       1801.000000   2013.0  1986.000000     2.50
23960287.0  12    7       1805.000000   2004.0  2000.000000     2.75
25000000.0  0     0       2004.000000      NaN  2004.000000     0.00
25100000.0  0     4       2002.000000      NaN  2007.000000     1.00
53696391.0  1     1       1963.000000   2006.0  1963.000000      NaN
53969391.0  0     1       1963.000000   2006.0  1963.000000      NaN
            1     1       1963.000000   2006.0  1963.000000      NaN
            2     2       1963.000000   2006.0  1963.000000      NaN
            3     2       1963.000000   2006.0  1963.000000      NaN
137427545.0 0     1       1985.000000   2005.0  1985.000000      NaN
            1     1       1986.254438   2005.0  1986.254438      NaN
                  2       1989.000000   2005.0  1989.000000      NaN
            2     1       1985.000000   2005.0  1985.000000      NaN
                  2       1989.000000   2005.0  1989.000000      NaN

                          SALE_NUM      GBA    ...        USECODE  \
PRICE       BEDRM BATHRM                       ...
1.0         1     1            3.0      NaN    ...      17.000000
            2     2            1.0      NaN    ...      17.000000
            3     1            1.0   1420.0    ...      12.000000
                  2            1.0      NaN    ...      17.000000
            6     3            1.0   2150.0    ...      23.000000
10.0        2     1            2.0    880.0    ...      11.000000
            3     1            1.0    990.0    ...      11.000000
                  2            1.5   1826.0    ...      17.000000
250.0       2     1            1.0   1132.0    ...      13.000000
                  2            1.0   1389.0    ...      14.000000
            3     1            1.0   1146.0    ...      11.666667
                  3            1.0   3179.0    ...      24.000000
            5     2            1.0   2281.0    ...      11.000000
                  3            1.0   1917.0    ...      17.000000
            6     2            1.0   2990.0    ...      11.000000
                  5            1.0   2596.0    ...      24.000000
500.0       2     2            1.0   1784.0    ...      11.000000
            4     2            1.0   1734.0    ...      24.000000
                  4            1.0   2421.0    ...      24.000000
            7     2            1.0   4158.0    ...      24.000000
936.0       4     2            2.0   2142.0    ...      11.000000
1000.0      0     1            1.0      NaN    ...      17.000000
            1     1            1.0      NaN    ...      16.000000
            3     1            1.0   1006.0    ...      11.500000
            4     4            1.0   2736.0    ...      23.000000
1377.0      3     1            1.0   1424.0    ...      11.000000
2000.0      0     1            1.0      NaN    ...      16.000000
            3     1            1.0   1396.0    ...      13.000000
3000.0      2     2            3.0      NaN    ...      17.000000
            3     2            1.0   1170.0    ...      12.000000
...                            ...      ...    ...            ...
10750000.0  7     7            5.0   6997.0    ...      12.000000
11000000.0  0     0            3.0    792.0    ...      11.000000
            4     4            2.0   3420.0    ...      23.000000
11111111.0  8     8            1.0   6937.0    ...      12.000000
11984000.0  6     6            1.0  10760.0    ...      11.000000
12250000.0  9     12           2.0  12713.0    ...      12.000000
12780000.0  0     1            3.0      NaN    ...      16.000000
            1     1            3.0      NaN    ...      16.000000
                  2            3.0      NaN    ...      16.000000
            2     1            3.0      NaN    ...      16.000000
14000000.0  6     5            4.0   7725.0    ...      12.000000
14157126.0  2     2            1.0      NaN    ...      16.000000
            3     2            1.0      NaN    ...      16.000000
15000000.0  7     11           1.0  11616.0    ...      12.000000
16100000.0  9     9            1.0   7910.0    ...      12.000000
18000000.0  7     9            5.0  15673.0    ...      12.000000
22000000.0  9     6            1.0  10110.0    ...      12.000000
23960287.0  12    7            1.0  14966.0    ...      24.000000
25000000.0  0     0            4.0   2000.0    ...      19.000000
25100000.0  0     4            2.0   4184.0    ...      19.000000
53696391.0  1     1            2.0      NaN    ...      17.000000
53969391.0  0     1            2.0      NaN    ...      17.000000
            1     1            2.0      NaN    ...      17.000000
            2     2            2.0      NaN    ...      17.000000
            3     2            2.0      NaN    ...      17.000000
137427545.0 0     1            1.0      NaN    ...      16.000000
            1     1            1.0      NaN    ...      16.313609
                  2            1.0      NaN    ...      17.000000
            2     1            1.0      NaN    ...      16.000000
                  2            1.0      NaN    ...      17.000000

                               LANDAREA    CMPLX_NUM   LIVING_GBA  \
PRICE       BEDRM BATHRM
1.0         1     1           93.000000  2871.000000   670.000000
            2     2          280.000000  3013.000000  1254.000000
            3     1         4400.000000          NaN          NaN
                  2          807.000000  1303.000000  1788.000000
            6     3         7811.000000          NaN          NaN
10.0        2     1         1264.000000          NaN          NaN
            3     1         1031.000000          NaN          NaN
                  2         2861.500000          NaN          NaN
250.0       2     1         2216.000000          NaN          NaN
                  2         1147.750000          NaN          NaN
            3     1         2710.000000          NaN          NaN
                  3         2700.000000          NaN          NaN
            5     2         2417.000000          NaN          NaN
                  3         1591.000000          NaN          NaN
            6     2         2853.000000          NaN          NaN
                  5         2520.000000          NaN          NaN
500.0       2     2         1587.000000          NaN          NaN
            4     2         1800.000000          NaN          NaN
                  4         1170.000000          NaN          NaN
            7     2         2031.000000          NaN          NaN
936.0       4     2         1398.000000          NaN          NaN
1000.0      0     1          470.000000  1080.000000   452.000000
            1     1          907.000000  1066.000000   681.000000
            3     1         1827.000000          NaN          NaN
            4     4         4224.000000          NaN          NaN
1377.0      3     1         1360.000000          NaN          NaN
2000.0      0     1          113.000000  2128.000000   199.000000
            3     1         2840.000000          NaN          NaN
3000.0      2     2          329.000000  3121.000000   835.000000
            3     2         9860.000000          NaN          NaN
...                                 ...          ...          ...
10750000.0  7     7        43893.000000          NaN          NaN
11000000.0  0     0          817.000000          NaN          NaN
            4     4         3810.000000          NaN          NaN
11111111.0  8     8        12749.000000          NaN          NaN
11984000.0  6     6         5577.000000          NaN          NaN
12250000.0  9     12       16525.000000          NaN          NaN
12780000.0  0     1          174.375000  5005.000000   388.875000
            1     1          290.044444  5005.000000   649.844444
                  2          378.000000  5005.000000   846.000000
            2     1          446.111111  5005.000000  1091.333333
14000000.0  6     5        16891.000000          NaN          NaN
14157126.0  2     2          778.000000  2754.000000  1215.000000
            3     2         1684.000000  2754.000000  2622.000000
15000000.0  7     11       23541.000000          NaN          NaN
16100000.0  9     9        16353.000000          NaN          NaN
18000000.0  7     9        35240.000000          NaN          NaN
22000000.0  9     6       155905.000000          NaN          NaN
23960287.0  12    7        68880.000000          NaN          NaN
25000000.0  0     0        21017.000000          NaN          NaN
25100000.0  0     4        63109.000000          NaN          NaN
53696391.0  1     1          117.000000  3100.000000   570.000000
53969391.0  0     1          100.800000  3100.000000   491.266667
            1     1          133.772727  3100.000000   648.772727
            2     2          214.333333  3100.000000  1065.944444
            3     2          276.500000  3100.000000  1348.500000
137427545.0 0     1          596.694444  1657.000000   440.000000
            1     1          726.100592  1657.313609   681.775148
                  2          307.000000  1658.000000   811.714286
            2     1         1101.000000  1657.000000   850.400000
                  2          360.153846  1658.000000   891.461538

                               ZIPCODE   LATITUDE  LONGITUDE  CENSUS_TRACT  \
PRICE       BEDRM BATHRM
1.0         1     1       20001.000000  38.900439 -77.015750        4702.0
            2     2       20008.000000  38.951251 -77.069088        1200.0
            3     1       20018.000000  38.939251 -76.974987        9400.0
                  2       20008.000000  38.940227 -77.060075        1302.0
            6     3       20032.000000  38.821888 -77.006997       10900.0
10.0        2     1       20019.000000  38.894403 -76.957736        9604.0
            3     1       20010.000000  38.930664 -77.025854        3100.0
                  2       20004.500000  38.909167 -77.024046        4452.0
250.0       2     1       20020.000000  38.864429 -76.988259        7503.0
                  2       20003.750000  38.915310 -77.007458        5553.0
            3     1       20016.333333  38.906441 -76.967574        5804.0
                  3       20009.000000  38.922838 -77.033276        3700.0
            5     2       20010.000000  38.928385 -77.030679        3000.0
                  3       20001.500000  38.909813 -77.005450        6950.5
            6     2       20009.000000  38.925013 -77.031260        3600.0
                  5       20001.000000  38.921546 -77.010958        3301.0
500.0       2     2       20001.000000  38.926493 -77.025620        3500.0
            4     2       20001.000000  38.916808 -77.011432        3301.0
                  4       20001.000000  38.916088 -77.016969        3400.0
            7     2       20001.000000  38.906504 -77.010773        4701.0
936.0       4     2       20001.000000  38.909843 -77.020603        4801.0
1000.0      0     1       20008.000000  38.944499 -77.061248        1302.0
            1     1       20016.000000  38.939529 -77.076784        1002.0
            3     1       20018.000000  38.916780 -76.957912        8554.0
            4     4       20020.000000  38.865880 -76.983134        7504.0
1377.0      3     1       20009.000000  38.915094 -77.029890        4400.0
2000.0      0     1       20009.000000  38.911719 -77.039830        5301.0
            3     1       20020.000000  38.872216 -76.966103        7709.0
3000.0      2     2       20011.000000  38.960701 -77.028815        2002.0
            3     2       20019.000000  38.900308 -76.937470        7809.0
...                                ...        ...        ...           ...
10750000.0  7     7       20008.000000  38.921225 -77.057678         400.0
11000000.0  0     0       20024.000000  38.874456 -77.009873        6400.0
            4     4       20019.000000  38.883794 -76.955798        7703.0
11111111.0  8     8       20007.000000  38.913485 -77.064529         100.0
11984000.0  6     6       20036.000000  38.907835 -77.039134       10700.0